//noinspection CssUnknownTarget
@font-face {
  font-family: Righteous;
  src: url(/static/fonts/Righteous-Regular.ttf);
}

//noinspection CssUnknownTarget
@font-face {
  font-family: Merriweather;
  src: url(/static/fonts/Merriweather-Black.ttf);
  font-weight: 900;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: Merriweather;
  src: url(/static/fonts/Merriweather-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: Merriweather;
  src: url(/static/fonts/Merriweather-Bold.ttf);
  font-weight: 700;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: Merriweather;
  src: url(/static/fonts/Merriweather-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: Merriweather;
  src: url(/static/fonts/Merriweather-Regular.ttf);
  font-weight: 400;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: Merriweather;
  src: url(/static/fonts/Merriweather-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: Merriweather;
  src: url(/static/fonts/Merriweather-Light.ttf);
  font-weight: 300;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: Merriweather;
  src: url(/static/fonts/Merriweather-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6, button, .qp-header-image, .button-link {
  font-family: Righteous, sans-serif;
}

.button-link {
  text-align: center;
}

// Fallback text styling to closely match the Quickplay logo before the logo loads, and/or if logo loading fails.
.qp-header-image {
  font-size: min(11vw, 9rem);
  line-height: 1.28;
  background: linear-gradient(90deg, #16aba1, #43cdab);
  background-clip: text;
  color: transparent;
}

p {
  font-family: Merriweather, serif;
}

button {
  cursor: pointer;
}
